body{
	font-family:"Open sans";

}

.grupal{
	background:url(../img/grupal.jpg)no-repeat center center; 
	background-size:cover;
	width:100%;
	height:550PX;
}
.boton{
     background-color:#F6BD0E;
    border-radius:5px;
    color:black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:38px;
    margin-top:34px;
}
.logo{
	width:500px;
	margin-top:50px;
	margin-right:80px;
 }

a {
	text-decoration:none;
	color:black;
	font-weight:600;
}

li{
	float:left;
	list-style: none;
	padding:10px;
	margin-top:34px;

}

section{
	margin:40px;
}
.fotos{
	width:100%;
}


footer{
	background-color:#554343;
	color:white;
	margin:0;
	padding:50px;
	font-size:17px;
}

p{
	margin-left:100px;
}